<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <!-- Toggle Button -->
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <!-- Logo -->
        <div class="logo">
            <img src="img/universitas.png" alt="Logo Konoha" class="logo-img" />
        </div>

        

        <!-- Navigation Menu -->
        <nav class="nav" id="nav-menu">
            <div class="nav-item">
                <img src="img/akademik.png" alt="Akademik" class="nav-icon" />
                Akademik
            </div>
            <div class="nav-item">
                <img src="img/keuaangan.png" alt="Keuangan" class="nav-icon" />
                Keuangan
            </div>
            <div class="nav-item">
                <img src="img/organisasi.png" alt="Blog" class="nav-icon" />
                Blog
            </div>
        </nav>

        <!-- Profile -->
        <div class="user-info">
            <img src="img/zaky.jpeg" alt="Profile" class="profile-pic" />
            <div class="user-details">
                <span class="user-name">M. Zaky Nugraha A R</span>
                <span class="time">7 November 2023, 15.00 WIB</span>
            </div>
        </div>
    </header>

 <!-- Navigation Menu -->
 <nav class="navm" id="nav-mobile">
    <div class="nav-item">
        <img src="img/akademik.png" alt="Akademik" class="nav-icon" />
        Akademik
    </div>
    <div class="nav-item">
        <img src="img/keuaangan.png" alt="Keuangan" class="nav-icon" />
        Keuangan
    </div>
    <div class="nav-item">
        <img src="img/organisasi.png" alt="Blog" class="nav-icon" />
        Blog
    </div>
</nav>


    <script src="script.js"></script>
</body>
</html>
